doctype html
html
 head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Portfolio | Free template by Anish Agnihotri
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/style.css')
 body
  .headerSection
   .header
    .logo
     img.logoImg(src='https://i.imgur.com/vhLtC9Z.png')
    .navigation
     .navMenu
      a(href='https://google.com') ONE
      a(href='https://google.com') TWO
      a(href='https://google.com') THREE
      a(href='https://google.com') FOUR
   .imgSection 
    img.headerImg(src='https://i.imgur.com/8IavxbF.png')
   .headerUnderlay
    .leftText
     p.underlayFormat Text section one here. 
    .middleText
     p.underlayFormat Text section two here. 
    .buttonTextSection
     a(href='https://google.com').underlayButton Sign Up
